/run_tests.gd export-ignore
/project.godot export-ignore
/icon.png export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
/README.md export-ignore
/LICENSE export-ignore
/run_tests.gd.uid export-ignore
